body {
  margin: 0;
  padding: 1em;
}
.center {
  display: flex;
  margin: auto;
  max-width: 1200px;
  min-height: calc(100vh - 2em);
}
.context-placeholder::after {
  display: flex;
  flex-direction: column;
  flex-grow: 0.25;
  min-width: 14em;
  content: " ";
}
.context {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-grow: 0.25;
  min-width: 14em;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
}
.context a {
  padding: 0.25em;
}
.path {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navigation a {
  padding: 1em 0.75em;
}
.navigation {
  display: flex;
  /* justify-content: space-between; */
}
.navigation > * {
  padding: 1em;
}
.content {
  display: flex;
  flex-grow: 0.75;
}
.content > .list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
body > .center > .list > a {
  padding: 0.5em 0.5em;
}
.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.message {
  display: block;
  padding: 0.75em;
  line-height: 150%
}
.message > .files {
  display: inline-flex;
}
.message > .files > a {
  display: inline-flex;
  align-items: center;
}
.message > .files > a > img {
  margin-left: 0.5em;
}
.message:nth-child(odd) {
  background-color: #00000005;
}
.message:target {
  background-color: #98fb9855;
}
.message + .message {
  border-top: 1px solid #00000022
}
.message > .metadata {
  display: inline-flex;
  font-weight: bold;
  min-width: 12em;
  margin-right: 0.5em;
}
.message > .metadata > .timestamp {
  text-decoration: underline;
}
.message > .metadata > .user {
  display: flex;
  margin-left: 0.5em;
  align-items: center;
}
.message > .metadata > .user > .avatar {
  height: 1.5em;
  margin-right: 0.5em;
}
.message .user_mention {
  color: red;
  display: inline-flex;
  margin-right: 0.5em;
}
a {
  color: black;
  transition: 0.5s background-color;
  word-break: break-all;
}
a:hover:not([href=""]) {
  background-color: #00000010;
  transition: 0.5s background-color;
}
a[href=""] {
  text-decoration: none;
}
@media (max-aspect-ratio: 3/1) {
  .context-placeholder {
    display: none;
  }
  .context {
    position: inherit;
    transform: none;
    justify-content: center;
  }
  .path {
    flex-direction: row;
  }
  .center {
    flex-direction: column;
  }
}
